<body class="w3-light-grey w3-animate-right">

<!-- Page Container -->
<div class="w3-content w3-margin-top" style="max-width:1400px;">

  <!-- The Grid -->
  <div class="w3-row-padding">
  
    <!-- Left Column -->
    <div class="w3-third">
    
      <div class="w3-white w3-text-grey w3-card-4">
        <div class="w3-display-container">
          <img src=".././assets/img/img_avatar1.png" style="width:30%" alt="Avatar">
        </div>
        <h2>João Ninguem da Silva</h2>
        <div class="w3-container">
          <p><i class="fa fa-university fa-fw w3-margin-right w3-large "></i>Sistemas de Informação</p>
          <p><i class="fa fa-home fa-fw w3-margin-right w3-large "></i>Franca - SP</p>
          <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large "></i>exemplo@mail.com</p>
          <p><i class="fa fa-mobile fa-fw w3-margin-right w3-large "></i>16 99242-1111</p>
          <p><i class="fa fa-phone fa-fw w3-margin-right w3-large "></i>16 3722-2222</p>
          <hr>

          <p class="w3-large"><b><i class="fa fa-asterisk fa-fw w3-margin-right "></i>Personalidade</b></p>
          <p>Criatividade</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-round-xlarge" style="width:90%; color: white; background-color: #344f8a;">90%</div>
          </div>
          <p>Comunicação</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-round-xlarge" style="width:80%; color: white; background-color: #344f8a;">
              <div class="w3-text-white">80%</div>
            </div>
          </div>
          <p>Trabalho em equipe</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-round-xlarge" style="width:75%; color: white; background-color: #344f8a;">75%</div>
          </div>
          <p>Liderança</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-round-xlarge" style="width:50%; color: white; background-color: #344f8a;">50%</div>
          </div>
          <br>
        </div>
      </div><br>

    <!-- End Left Column -->
    </div>

    <!-- Right Column -->
    <div class="w3-twothird">
    
      <div class="w3-container w3-card w3-white w3-margin-bottom">
        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-info fa-fw w3-margin-right w3-xxlarge"></i>Descrição</h2>
        <div class="w3-container">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce pharetra tempor quam sed volutpat. Sed convallis massa nec lobortis lobortis. Proin nec dui eget augue semper dignissim. Vivamus a diam consectetur, pharetra nisi vel, consectetur mi. Sed sodales lectus et enim scelerisque sagittis. Fusce viverra massa non sollicitudin aliquam. Nam placerat velit ut risus aliquam posuere nec vitae mauris. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur viverra non augue vel interdum. Nulla sagittis euismod lobortis. Curabitur tortor eros, cursus id nulla consequat, sagittis elementum sapien. Etiam vulputate, nibh vel vehicula venenatis, mi lacus auctor libero, ac porta leo ex id felis. Suspendisse sit amet bibendum lacus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;

              Cras pharetra erat felis, a euismod lectus dictum ut. Nullam convallis fringilla sapien a dapibus. Aliquam varius iaculis bibendum. Ut lacinia vehicula dui, in aliquet magna pretium ac. Vestibulum ut ipsum consectetur, pharetra velit vitae, semper turpis. Aliquam dapibus diam justo, non pulvinar erat volutpat vel. Suspendisse et imperdiet urna, at congue quam. Quisque vitae lectus sit amet ante accumsan vehicula. Quisque ut iaculis ligula, ac porta quam. Sed sit amet sem eu mi lobortis tincidunt. Curabitur eu convallis mauris, ac imperdiet metus. Praesent scelerisque felis non lacus euismod, ac tristique lorem vestibulum. Nunc metus nibh, finibus sed finibus eu, condimentum in diam. Proin sagittis porta urna. Fusce id nulla nec ante porta rhoncus nec vel ligula.
              
              Praesent eu tincidunt metus. In rhoncus risus et magna commodo vehicula. Etiam vitae metus odio. Fusce venenatis, lectus ullamcorper efficitur sagittis, tellus risus euismod ligula, non accumsan velit enim a orci. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Duis lobortis purus nunc, et sodales nisi finibus eget. Morbi ligula lorem, sagittis non eros nec, imperdiet finibus eros. Nulla viverra augue nunc, at accumsan diam scelerisque in. Phasellus id erat ac lacus porttitor luctus eu consectetur erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
              
              Donec porttitor semper blandit. Nam ultrices tellus nec dui congue venenatis. Duis eu tellus posuere, commodo tellus lacinia, venenatis justo. Vivamus vestibulum diam orci, ut congue mi pharetra id. Suspendisse quis pharetra libero. Vivamus vehicula elementum bibendum. Mauris sed lobortis nisl. Nullam vehicula ullamcorper blandit. Nam porttitor quam sem, vel malesuada libero gravida a. Donec ut erat id leo auctor cursus ut at odio. Nulla sit amet mollis nisl. Fusce turpis mi, placerat quis dolor sed, tempus rhoncus dolor.</p>
          <hr>
        </div>      
      </div>

    <!-- End Right Column -->
    </div>
    
  <!-- End Grid -->
  </div>
  
  <!-- End Page Container -->
</div>
</body>