<form class="w3-container w3-card-4 w3-margin-top w3-margin-left w3-margin-right">
  <h2 class="w3-left" style="color: #666666"><i class="fa fa-gear"></i> Cadastro de oportunidade</h2>
    <p><button type="button" style="background-color: #344f8a; color: white;" class="w3-button w3-large w3-right"><i class="fa fa-save"></i> Salvar </button></p>    
      <div class="w3-row">
      <div class="w3-half w3-padding">
          <p> 
            <label class="w3-text-grey">Tipo</label>
            <select class="w3-select" name="notificacao" style="padding: 1%">
                <option value="" disabled selected></option>
                <option value="1">Estágio</option>
                <option value="2">Estágio Supervisionado</option>
                <option value="3">Emprego</option>
              </select>
           </p> 
            <p> 
                <label class="w3-text-grey">Período</label>
                <select class="w3-select" name="notificacao" style="padding: 1%">
                    <option value="" disabled selected></option>
                    <option value="1">Diurno - 6hrs</option>
                    <option value="2">Matutino - 4hrs</option>
                    <option value="3">Vespertino - 4hrs</option>
                    <option value="3">Noturno - 6hrs</option>
                    <option value="3">CLT - 8hrs</option>
                  </select>
               </p>
      </div>
    
      <div class="w3-half w3-padding">
          <p> 
              <label class="w3-text-grey">Área</label>
              <select class="w3-select" name="notificacao" style="padding: 1%">
                  <option value="" disabled selected></option>
                  <option value="1">Admnistração</option>
                  <option value="2">Tecnologia</option>
                  <option value="3">Publicidade</option>
                  <option value="3">Letras</option>                  
                </select>
             </p> 
              <p> 
                <label class="w3-text-grey">Data Limite</label>
                <input class="w3-input" type="text">
              </p>
      </div>
      </div>
      <div class="w3-row w3-padding">
          <br>   
          <p> 
          <label class="w3-text-grey">Descrição da vaga</label>
          <textarea class="w3-input" style="resize: none; min-height: 100px;"></textarea>
          </p>
          <p> 
              <label class="w3-text-grey">Observações</label>
              <textarea class="w3-input" style="resize: none; min-height: 100px;"></textarea>
          </p>
          <p> 
              <label class="w3-text-grey">Requisitos</label>
              <textarea class="w3-input" style="resize: none; min-height: 100px;"></textarea>
          </p>        
          <br> 
    </div>    
    </form>

    <!--
        <input id="male" class="w3-radio" type="radio" name="gender" value="male" checked="">
        <label>Male</label>
        <br>
        <input id="female" class="w3-radio" type="radio" name="gender" value="female">
        <label>Female</label>
        <br>
        <input id="unknown" class="w3-radio" type="radio" name="gender" value="" disabled="">
        <label>Don't know (Disabled)</label>
        <br>
        <input id="milk" class="w3-check" type="checkbox" checked="checked">
        <label>Milk</label>
        <br>
        <input id="sugar" class="w3-check" type="checkbox">
        <label>Sugar</label>
        <br>
        <input id="lemon" class="w3-check" type="checkbox" disabled="">
        <label>Lemon (Disabled)</label>
        <br><br>-->