<form class="w3-container w3-card-4 w3-margin-top w3-margin-left w3-margin-right">
    <h2 class="w3-left" style="color: #666666"><i class="fa fa-gear"></i> Cadastro de Empresas</h2>
      <p><button type="button" style="background-color: #344f8a; color: white;" class="w3-button w3-large w3-right"><i class="fa fa-save"></i> Salvar </button></p>    
      
      
      <div class="w3-row w3-padding">
        <h3 style="color: #666666"><i class="fa fa-file-text"></i>  Dados cadastrais</h3>
          <br>   
          <p> 
              <label class="w3-text-grey">Nome Fantasia</label>
              <input class="w3-input" type="text">
          </p>       
          <br>
          <p> 
              <label class="w3-text-grey">Razão Social</label>
              <input class="w3-input" type="text">
          </p>
          <br>
          <br>                          
    </div>       

      <div class="w3-row">
        <div class="w3-half">
            <div class="w3-half w3-padding">
                <label class="w3-text-grey">CNPJ</label>
                <input class="w3-input" type="text">
            </div>
            <div class="w3-half w3-padding">
                <label class="w3-text-grey">I.E.</label>
                <input class="w3-input" type="text">
            </div>
        </div>
      
        <div class="w3-half w3-padding">
            <p> 
                <label class="w3-text-grey">Área de atuação</label>
                <select class="w3-select" name="notificacao" style="padding: 1%">
                    <option value="" disabled selected></option>
                    <option value="1">Admnistração</option>
                    <option value="2">Tecnologia</option>
                    <option value="3">Publicidade</option>
                    <option value="3">Letras</option>                  
                  </select>
               </p> 
        </div>
        </div>



      <div class="w3-row w3-padding">
          <br> 
          <h3 style="color: #666666"><i class="fa fa-building"></i>  Endereço</h3>    
          <br>        
              <label class="w3-text-grey w3-padding">Rua</label>
              <input class="w3-input" type="text">
          <br> 
          <div class="w3-half">
              <div class="w3-half w3-padding">
                  <label class="w3-text-grey">Número</label>
                  <input class="w3-input" type="text">
              </div>
              <div class="w3-half w3-padding">
                  <label class="w3-text-grey">CEP</label>
                  <input class="w3-input" type="text">
              </div>
          </div>

          <div class="w3-half">
              <div class="w3-half w3-padding">
                  <label class="w3-text-grey">Bairro</label>
                  <input class="w3-input" type="text">
              </div>
              <div class="w3-half w3-padding">
                  <label class="w3-text-grey">Cidade</label>
                  <input class="w3-input" type="text">
              </div>
          </div>
          <br>
          <div class="w3-half">
              <div class="w3-half w3-padding">
                  <label class="w3-text-grey">UF</label>
                  <select class="w3-select w3-text-grey" name="notificacao" style="padding: 1%">
                      <option value="" disabled selected></option>
                      <option value="AC">AC</option>
                      <option value="AL">AL</option>
                      <option value="AM">AM</option>
                      <option value="AP">AP</option>
                      <option value="BA">BA</option>
                      <option value="CE">CE</option>
                      <option value="DF">DF</option>
                      <option value="ES">ES</option>
                      <option value="GO">GO</option>
                      <option value="MA">MA</option>
                      <option value="MG">MG</option>
                      <option value="MS">MS</option>
                      <option value="MT">MT</option>
                      <option value="PA">PA</option>
                      <option value="PB">PB</option>
                      <option value="PE">PE</option>
                      <option value="PI">PI</option>
                      <option value="PR">PR</option>
                      <option value="RJ">RJ</option>
                      <option value="RN">RN</option>
                      <option value="RS">RS</option>
                      <option value="RO">RO</option>
                      <option value="RR">RR</option>
                      <option value="SC">SC</option>
                      <option value="SE">SE</option>
                      <option value="SP">SP</option>
                      <option value="TO">TO</option>                 
                    </select>
              </div>
              <div class="w3-half w3-padding">
              </div>
          </div>
          <div class="w3-half"></div>
    </div> 

        <div class="w3-row w3-padding">
            <br> 
            <h3 style="color: #666666"><i class="fa fa-info"></i>  Observações</h3>            
            <p> 
                <textarea class="w3-input" style="resize: none; min-height: 100px;"></textarea>
            </p>   
            <br> 
        </div> 
      </form>