<div  style="padding-top: 2%;" class="w3-container w3-animate-right">
    <div style="float: right; padding: 1%;" class="">
        <button style="background-color: #344f8a; color: white" onclick="document.getElementById('id01').style.display='block'" class="w3-button w3-rigth"><i class="fa fa-gear"></i> Gerenciar Notificações</button>       
    </div> 
    <form class="w3-container w3-card w3-white">
        <div class="w3-row-padding w3-section">
            <div class="w3-third">
              <input class="w3-input" type="text" placeholder="Empresa">
            </div>
            <div class="w3-third">
              <input class="w3-input" type="text" placeholder="Data Limite">
            </div>
            <div class="w3-third">
                <input class="w3-input" type="text" placeholder="Área">
            </div>
          </div>
          
          <div class="w3-row-padding w3-section">
              <div class="w3-third">   
                  <select class="w3-select" name="tipo" style="padding: 1%">
                      <option value="" disabled selected>-- Tipo --</option>
                      <option value="1">Estágio</option>
                      <option value="2">Estágio Supervisionado</option>
                      <option value="3">Emprego</option>
                    </select>                             
              </div>
              <div class="w3-third">
                  <select class="w3-select" name="notificacao" style="padding: 1%">
                      <option value="" disabled selected>-- Período --</option>
                      <option value="1">Diurno - 6hrs</option>
                      <option value="2">Matutino - 4hrs</option>
                      <option value="3">Vespertino - 4hrs</option>
                      <option value="3">Noturno - 6hrs</option>
                      <option value="3">CLT - 8hrs</option>
                    </select>                
              </div>
              <div class="w3-third">
                <button style="float: right; background-color: #344f8a; color: white;" type="button" class="w3-btn"><i class="fa fa-save"></i> Criar Notificação</button> 
              </div>
          </div>  
      </form>      
</div>
<div style="padding-top: 2%;" class="w3-container w3-animate-right">
<table class="w3-table w3-striped">
  <tr>
    <th>Empresa</th>
    <th>Data Valid.</th>
    <th>Tipo</th>
    <th>Período</th>
    <th>Área/Curso</th>
    <th>Status</th>
    <th>Ver mais</th>
</tr>
<tr *ngFor="let a of oportunidades">
  <td>{{a.empresa}}</td>
  <td>{{a.dtafim}}</td>
  <td>{{a.tipo}}</td>
  <td>{{a.periodo}}</td>
  <td>{{a.area}}</td>
  <td>{{a.status}}</td>
  <td><button style="background-color: #344f8a; color: white;" class="w3-button" (click)="detalharOportunidade(a._id)"> Ver mais </button></td>
 <!--  <td><button class="w3-button w3-black" (click)="removeEstagio(a._id)"> Remover </button></td>
  <td><button class="w3-button w3-black" (click)="atualizaEstagio(a._id)"> Atualizar </button></td>    -->
</tr>
</table>
</div>

<div id="modalNotificacao" class="w3-modal">
    <div class="w3-modal-content">
      <div class="w3-container">
        <span onclick="document.getElementById('modalNotificacao').style.display='none'" class="w3-button w3-display-topright">&times;</span>              

      </div>
    </div>
  </div>


<div id="id01" class="w3-modal">
    <div class="w3-modal-content w3-card-4">
      <header class="w3-container w3-lightgrey"> 
        <span onclick="document.getElementById('id01').style.display='none'" 
        class="w3-button w3-display-topright">&times;</span>
        <h2>Gerenciar notificações</h2>
      </header>
      <div class="w3-container">
          <select class="w3-select" name="notificacao" style="padding: 1%">
              <option value="" disabled selected>-- Notificações --</option>
              <option value="1">Admnistração / Estágio / Noturno</option>
              <option value="2">Tecnologia / Emprego / CLT</option>
              <option value="3">Publicidade / Estágio / Diurno</option>
            </select>
      </div>
      <footer style="padding: 2%" class="w3-container w3-lightgrey">
          <br>
          <button type="button" class="w3-btn w3-red"><i class="fa fa-trash"></i> Excluir</button> 
      </footer>
    </div>
  </div>
