<!-- Page Container -->
  <div class="w3-content w3-margin-top w3-animate-right" style="max-width:1400px;">
  
    <!-- The Grid -->
    <div class="w3-row-padding">
    
      <!-- Left Column -->
      <div class="w3-third">
        <div class="w3-white w3-text-grey w3-card-4">
          <br>
          <div align="center" class="w3-display-container">
            <img src=".././assets/img/smn.jpg" style="width:20%" alt="Avatar">
          </div>
          <h3 align="center">SMN Tecnologia</h3>
          <div class="w3-container">
            <p><i class="fa fa-university fa-fw w3-margin-right w3-large "></i>Rua das aroeiras 2345</p>
            <p><i class="fa fa-home fa-fw w3-margin-right w3-large "></i>Franca - SP</p>
            <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large "></i>exemplo@smn.com</p>
            <p><i class="fa fa-phone fa-fw w3-margin-right w3-large "></i>16 3722-2222</p>
            <hr>
          </div>
        </div><br>
        <div class="w3-white w3-text-grey w3-card-4">
          <h3 align="center">Detalhes da vaga</h3>
          <div class="w3-container">
            <p><i class="fa fa-clock-o fa-fw w3-margin-right w3-large "></i>Diurno - 6hrs</p>
            <p><i class="fa fa-money fa-fw w3-margin-right w3-large "></i>Estágio</p>
            <p><i class="fa fa-tags fa-fw w3-margin-right w3-large "></i>Tecnologia</p>
            <p><i class="fa fa-calendar fa-fw w3-margin-right w3-large "></i>02/01/2019</p>
            <hr>
          </div>
        </div><br>        
  
      <!-- End Left Column -->
      </div>
         
     <!-- Right Column -->
     <div class="w3-twothird">
    
      <div class="w3-container w3-card w3-white w3-margin-bottom">
        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Oportunidade de Estágio</h2>
        <h3 class="w3-text-grey w3-padding-16">Status: <i class="fa fa-check fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Candidatado</h3>    
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Informações sobre a vaga</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Disponível até 02/01/2019</h6>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet feugiat risus. Nunc eros lorem, pulvinar vitae mi eu, finibus tincidunt purus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sed justo in urna convallis elementum. Fusce eget mollis risus. Vivamus vitae est porta, suscipit est sit amet, tincidunt massa. Nulla faucibus erat non nisl mattis, nec commodo erat euismod.</p>
          <p>Donec viverra vehicula metus et dapibus. Integer blandit luctus mauris sit amet dapibus. Curabitur interdum lorem eget quam blandit dignissim. Vivamus sodales eu sapien quis gravida. In tempor tristique lobortis. Suspendisse et posuere quam. Morbi laoreet mollis tellus eu suscipit. Ut dignissim metus lorem, vel hendrerit mauris dignissim nec.</p>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Requisitos</b></h5>
          <p>Consectetur adipisicing elit. Praesentium magnam consectetur vel in deserunt aspernatur est reprehenderit sunt hic. Nulla tempora soluta ea et odio, unde doloremque repellendus iure, iste.</p>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Observações</b></h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p><br>
        </div>
        <div class="w3-container">
            <button style="background-color: #344f8a; color: white;" class="w3-button w3-block w3-round-large"> Quero me candidatar! </button>
        </div><br>
      </div>

    <!-- End Right Column -->
    </div>           <hr>
  
    <!-- End Grid -->
    </div>
    
    <!-- End Page Container -->
  </div>