 <div style="background-color: #344f8a; color: white;"class="w3-bar w3-border w3-xlarge">
  <img class="w3-bar-item w3-button" [routerLink]="['/home']" style="width: 10%; padding-top: 1%;" src="../assets/img/logo_facef.png" alt="UniFacef">
  <div class="w3-dropdown-hover w3-mobile">
    <button class="w3-button"><i class="fa fa-search"></i><a style="font-size: 14pt;">  Vagas</a></button>
    <div class="w3-dropdown-content w3-bar-block w3-light-grey">
      <a style="font-size: 10pt;" [routerLink]="['/oportunidades']" class="w3-bar-item w3-button w3-mobile">Procurar vagas</a>
    </div>
  </div>
  <a style="background-color: #344f8a; color: white;" [routerLink]="['/login']" class="w3-bar-item w3-button w3-right"><i class="fa fa-sign-out"></i></a>    
<div class="w3-dropdown-hover w3-mobile w3-right">
    <button class="w3-button"><i class="fa fa-user"></i></button>
    <div class="w3-dropdown-content w3-bar-block w3-light-grey">
      <a style="font-size: 10pt;" [routerLink]="['/curriculo']" class="w3-bar-item w3-button w3-mobile">Ver Currículo</a>
      <a style="font-size: 10pt;" [routerLink]="['/curriculo-edit']" class="w3-bar-item w3-button w3-mobile">Editar Currículo</a>
    </div>
  </div>
</div>

